/* Página Inicial */

.strong{
    background-color: brown;
    color:black;
}

.strong2{
    background-color: brown;
    color: black;
}

.head-Fundo{
    background-color:black;
        
}

.nome:active{
    background-color:azure;
    color:darkslategray ;
    
}

.nome{
    color: chocolate;
}
 


.img{
    text-align:center;
 }

.li-historico {
    position: inherit;
}

.li-historico{
    color: whitesmoke;
}

.h33{
    color: whitesmoke;
}

.p-p{
    color: whitesmoke;
}

.h34{
    color: whitesmoke;
}

.li-historico2{
    color: whitesmoke;
}
.p-p1{
    color: whitesmoke;
}

.li-3{
    color: whitesmoke;
}

.cor-link{
    color: white;
}


/* ########Portfolio####### */

.action{
background-color: darkblue;   
color: black; 
}