 #h1 {
    background-color: crimson;
    color: black;
    width: 30%;
      
}

section {
    padding-right: 750px;
    padding-left: 750;
}

 #axa{
    background-color: coral;
 }

  .nav {
      color: blue;
  }

  .funcionario {
    background-color: crimson;
    color: black;
    width: 10%;
  }
   .h2h {
      background-color: crimson;
       color: black;
       width: 10%;

   }

   controle {
       background-color: crimson;
       color: black;
       width: 10%;
   }

   .bb {
    background-color: crimson;
    color: black;
    width: 10%;
   }

   